* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  line-height: 1;
}


/*....................................................FONTS....................................................*/

@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: bold;
  font-style: normal;
}


/*....................................................POPUP....................................................*/

.popup {
  position: fixed;
  background: rgb(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  z-index: 1;
  justify-content: center;
  display: flex;
  align-items: center;
  display: none;
}

.popup-title {
  text-transform: uppercase;
  font-size: 20px;
  color: #0f0d0e;
  font-weight: 700;
  text-align: center;
  display: block;
}

.popup-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  margin: 7px auto 28px auto;
}

.popup-content {
  max-width: 390px;
  background-color: #ffffff;
  display: block;
  padding: 56px 30px 10px;
  position: relative;
}

.form-row {
  font-size: 13px;
  color: #0f0d0e;
  font-family: OpenSans-Regular, Arial, sans-serif;
}

.form-hint {
  display: block;
  margin-top: 35px;
  margin-bottom: 10px;
}

.select {
  width: 100%;
  height: 48px;
  padding-left: 20px;
  font-family: inherit;
  color: #333333;
  -webkit-appearance: none;
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: right 5px center;
  background-color: #f4f7f6;
  border: none;
}

.select:focus {
  outline-style: solid;
  outline-width: 1px;
  outline-color: #b59f5b;
}

.radio {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px 1px 1px 1px);
}

.no {
  margin-left: 15px;
}

.radio-group-text::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
  vertical-align: middle;
  margin-right: 8px;
}

.radio:checked~.radio-group-text::before {
  background-image: url("../svg/form-circle.svg");
}

.radio-form-hint {
  display: block;
  margin-bottom: 15px;
}

.field-textarea {
  min-height: 130px;
  width: 100%;
  padding: 10px 10px;
  font-family: inherit;
  background-color: #f4f7f6;
  border: none;
}

.field-textarea:focus {
  outline-style: solid;
  outline-width: 1px;
  outline-color: #b59f5b;
}

.popup-button {
  width: 100%;
  height: 48px;
  margin-top: 20px;
  margin-bottom: 30px;
  border: none;
  background-color: #b59f5b;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: OpenSans-Bold, Arial, sans-serif;
  cursor: pointer;
}

.popup-button:hover {
  background-color: #323232;
}

.popup-close {
  background-image: url("../svg/form-x.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  background-color: rgb(0, 0, 0, 0);
  width: 18px;
  height: 18px;
  position: absolute;
  top: -25px;
  right: 0;
  border: none;
}


/*....................................................HEADER....................................................*/

.header {
  background-image: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #666666;
  position: relative;
  z-index: 0;
  padding-top: 29px;
  padding-bottom: 127px;
  font-family: "OpenSans";
}

.header::after {
  content: "";
  background-color: #000000; 
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.6;
  z-index: -1;
}

.header-logo {
  display: block;
  width: 180px;
}

.header-label {
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 734px;
  margin-top: 103px;
  font-size: calc(0.561vw + 35.692px);
  line-height: 1.667;
  color: #ffffff;
  font-weight: 700;
}

.container {
  max-width: 1170px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  flex-shrink: 1;
}

.menu-list {
  display: flex;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  gap: 35px;
}

.menu-link {
  color: #e9e9e9;
}

.menu-link:hover {
  text-decoration: underline;
}


/*....................................................TRENDS....................................................*/

.trends {
  display: block;
  margin-top: 60px;
  font-family: "OpenSans";
}

.trends-title {
  text-transform: uppercase;
  font-size: 20px;
  color: #0f0d0e;
  font-weight: 700;
  text-align: center;
  display: block;
}

.trends-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  margin: 10px auto 30px auto;
}

.trends-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 4px;
}

.trend {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #666666;
  position: relative;
  z-index: 0;
  width: 25%;
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  padding: 132px 20px 15px;
}

.trend::after {
  content: "";
  background-color: #000000; 
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.6;
  z-index: -1;
}

.trend-content {
  border: 3px solid #b59f5b;
  padding: 38px 32px 31px;
}

.trend-1 {
  background-image: url("../images/trend1.jpg");
}

.trend-2 {
  background-image: url("../images/trend2.jpg");
}

.trend-3 {
  background-image: url("../images/trend3.jpg");
}

.trend-4 {
  background-image: url("../images/trend4.jpg");
}

.title-trend-link {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.2;
  color: #ffffff;
  font-weight: 700;
}

.title-trend-link:hover {
  color: #b59f5b;
}

.title-trend {
  margin: 9px 0 0px 0px;
}

.category-link:hover {
  text-decoration: underline;
}


/*....................................................PAGE....................................................*/

.page {
  max-width: 1200px;
  display: flex;
  padding: 65px 15px 0 15px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  
}


/*....................................................POST....................................................*/

.post {
  display: flex;
  font-family: "OpenSans";
}

.post-secondary {
  margin-top: 58px;
}

.post-header {
  background-color: #eff6f1;
  display: block;
}

.category-list {
  display: flex;
  gap: 20px;
}

.category-link {
  text-transform: uppercase;
  color: #b59f5b;
  font-size: 14px;
  font-weight: 700;
}

.title-post-link {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.2;
  color: #0f0d0e;
  font-weight: 700;
}

.title-post-link:hover {
  color: #b59f5b;
}

.title-post {
  margin: 7px 0 26px 0px;
}

.post-date{
  font-size: 12px;
  color: #888888;
  font-weight: 400;
}

.post-author-name {
  font-size: 12px;
  color: #000000;
  font-weight: 700;
  margin-left: 8px;
}

.paragraph {
  margin-top: 47px;
  font-size: 15px;
  line-height: 1.467;
  color: #0f0d0e;
  font-weight: 400;
}

.paragraph-2 {
  margin-top: 8px;
}


/*....................................................SAID_BAR....................................................*/

.said-bar {
  width: 270px;
  font-family: "OpenSans";
}


/*....................................................LATEST_POSTS....................................................*/

.latest-posts-title {
  text-transform: uppercase;
  font-size: 14px;
  color: #0f0d0e;
  font-weight: 700;
  text-align: center;
}

.latest-posts-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 4px;
  background-color: #e1d9bd;
  margin: 10px auto 28px auto;
}

.latest-post {
  width: 100%;
  display: flex;
}

.latest-post-secondary {
  margin-top: 19px;
}

.latest-post-header {
  width: 70px;
  background-color: #f4f7f6;
}

.latest-post-content {
  margin-left: 18px;
}

.latest-post-link {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.286;
  color: #0f0d0e;
  font-weight: 700;
}

.latest-post-link:hover {
  color: #b59f5b;
}

.latest-post-date {
  font-size: 12px;
  color: #888888;
  font-weight: 400;
  display: block;
}

.latest-post-title {
  margin-top: 5px;
}

  
/*.....................................................SEARCH....................................................*/

.search {
  display: flex;
  margin-top: 62px;
 }

 .search-group {
   width: 100%;
 }

.field {
  width: 100%;
  height: 48px;
  background-color: #f4f7f6;
  padding: 0 5px 2px 17px;
  border: none;
  font-size: 13px;
  color: #000000;
  font-weight: 400;
  font-family: "OpenSans";
}

.field:focus {
  outline-style: solid;
  outline-width: 1px;
  outline-color: #b59f5b;
}

.button {
  width: 60px;
  border: none;
  background-color: #b59f5b;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 19px;
  cursor: pointer;
}

.button:hover {
  background-color: #323232;
}

.hint {
	font-size: 13px;
	font-weight: 700;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}


/*....................................................SUBSCRIPTION....................................................*/

.subscription {
  width: 100%;
  margin-top: 60px;
  font-family: "OpenSans";
}

.subscription-title {
  font-size: 14px;
  font-weight: 700;
  color: #0f0d0e;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.subscription-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 4px;
  background-color: #e1d9bd;
  margin: 11px auto 22px auto;
}

.subscription-field {
  width: 100%;
  height: 48px;
  background-color: #f4f7f6;
  padding: 0 5px 0 17px;
  border: none;
  font-size: 13px;
  color: #000000;
  font-family: "OpenSans";
  font-weight: 400;
}

.subscription-field:focus {
  outline-style: solid;
  outline-width: 1px;
  outline-color: #b59f5b;
}

.subscription-button {
  width: 100%;
  height: 48px;
  margin-top: 19px;
  border: none;
  background-color: #b59f5b;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "OpenSans";
  font-weight: 700;
  cursor: pointer;
}

.subscription-button:hover {
  background-color: #323232;
}


/*....................................................TAGS....................................................*/

.tags {
  width: 100%;
  margin-top: 59px;
  font-family: "OpenSans";
}

.tags-title {
  font-size: 14px;
  font-weight: 700;
  color: #0f0d0e;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.tags-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 4px;
  background-color: #e1d9bd;
  margin: 11px auto 27px auto;
}

.tags-list {
  display: flex;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  flex-wrap: wrap;
  color: #0f0d0e;
  gap: 5px;
}

.tags-link {
  display: flex;
  color: #0f0d0e;
  padding: 4px 13px;
  border: 3px solid #eeeeee;
}

.tags-link:hover {
  border: 3px solid #b59f5b;
}


/*....................................................THEMES....................................................*/

.themes {
  width: 100%;
  margin-top: 60px;
  font-family: "OpenSans";
}

.themes-title {
  font-size: 14px;
  color: #0f0d0e;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.themes-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 4px;
  background-color: #e1d9bd;
  margin: 11px auto 15px auto;
}

.themes-list {
  font-weight: 700;
  flex-wrap: wrap;
}

.theme-link {
  font-size: 14px;
  color: #0f0d0e;
}

.theme-link:hover {
  color: #b59f5b;
}

.theme {
  width: 100%;
  padding: 8px 0 14px 0;
  border-bottom: 1px solid #eeeeee;
}

.theme-secondary {
  margin-top: 5px;
}

.theme-value {
  vertical-align: text-top;
  font-size: 12px;
  color: #b59f5b;
}


/*....................................................OUR_PRODUCTS....................................................*/

.our-products {
  max-width: 1200px;
  padding: 62px 15px 0 15px;
  margin-left: auto;
  margin-right: auto;
  font-family: "OpenSans";
}

.products-title {
  text-transform: uppercase;
  font-size: 20px;
  color: #0f0d0e;
  font-weight: 700;
  text-align: center;
  display: block;
}

.products-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  margin: 11px auto 29px auto;
}

.products {
  display: flex;
  justify-content: space-between;
}

.product {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 22px 0;
}

.product-body {
  border: 3px solid #b59f5b;
  flex-grow: 1;
  padding: 50px 20px 25px;
  margin: -30px -22px 0;
}

.product-img {
  display: block;
  width: 100%;
}

.product-title {
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  display: block;
}

.product-paragraph {
  font-size: 15px;
  line-height: 1.467;
  color: #0f0d0e;
  font-weight: 400;
  margin-top: 5px;
}

.product-link {
  font-size: 15px;
  color: #b59f5b;
}

.product-button {
  width: 140px;
  height: 48px;
  border: none;
  background-color: #b59f5b;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "OpenSans";
  font-weight: 700;
  cursor: pointer;
}

.product-button:hover {
  background-color: #323232;
}

.product-footer {
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}

.product-prices {
  display: flex;
  flex-direction: column;
}

.product-price {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}

.product-price-old {
  font-size: 14px;
  font-weight: 700;
  text-decoration: line-through;
}


/*....................................................WIDGET....................................................*/

.widget {
  padding-bottom: 10px;
}

.widget-socials {
  display: flex;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  align-items: center;
  justify-content: center;
  background-color: #f4f7f6;
  padding-top: 28px;
  padding-bottom: 28px;
}

.widget-link {
  display: block;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.widget-link-twitter {
  background-image: url("../svg/004-twitter.svg");
  width: 25px;
  height: 25px;
}

.widget-link-pinterest {
  background-image: url("../svg/001-pinterest.svg");
}

.widget-link-facebook {
  background-image: url("../svg/002-facebook-logo.svg");
}

.widget-link-instagram {
  background-image: url("../svg/005-instagram.svg");
}

.widget-link-tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.widget-socials {
  gap: 26px;
}

.widget-hint {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.copyrights {
  display:block;
  margin-top: 75px;
  font-size: 12px;
  text-align: center;
  font-family: "OpenSans";
  font-weight: 700;
  color: #999999;
}